<div class="box-body" [formGroup]="_event.formGroup">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="if">ID</label>
				<input type="text" class="form-control" id="id" placeholder="ID" formControlName="id" readonly />
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" placeholder="Name" formControlName="name" />
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="status">Status</label>
				<select id="status" class="form-control" formControlName="status">
					<option *ngFor="let valuelist of _statuses.asArray" value="{{valuelist.id}}">{{valuelist.name}}</option>
				</select>
			</div>
		</div>

		<div *ngIf="_event.errors" class="col-xs-12">
			<div class="alert alert-danger" role="alert">
				<span class="sr-only">Error:</span>
				<div *ngFor="let error of _event.errors">{{error}}</div>
			</div>
		</div>

	</div>

	<div class="box-footer">
		<div class="btn-group pull-right">
			<a class="btn btn-default" [routerLink]="['/event/list']">Cancel</a>
		</div>
		<div class="btn-group pull-right">
			<button type="button" (click)="_event.save()" class="btn btn-success">Save</button>
		</div>
	</div>

</div>
